<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="homepage">
      <h1>Welcome to Blog App</h1>
      <div>
        <a href="/articles"><button>Go to Articles</button></a>
      </div>

      <h3><%= user.email %></h3>
    </header>

    <main class="imgbox">
      <img
        src="/images/articles-complex-like-puzzle-pictured-260nw-1666818295.webp"
        alt=""
      />
    </main>
  </body>
</html>
