body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: skyblue;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  border-radius: 10px;
  background-color: slategray;
}
.homepage {
  text-align: center;
}

.imgbox {
  margin-top: 2rem;
  text-align: center;
}

.box {
  border-radius: 20px;
  text-align: center;
  width: 200px;
  background-color: rgb(36, 143, 80);
}
.btn{
  text-align: center;
}
