<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partial/header %>
    <h1>index page</h1>
    <% include partial/footer %>
  </body>
</html>
