<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="flex-sb">
      <div>
        <a href="/">Home</a>
      </div>

      <nav>
        <a href="/users/register"><button>Register</button></a>
        <a href="/users/login"><button>Login</button></a>
      </nav>

      <!-- <nav>
        <a href="">Sumit Thapa</a>
        <a href=""><button>Add Artticles</button></a>
      </nav> -->
    </header>
  </body>
</html>
